@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background-color: #030712;
  color: #f3f4f6;
  margin: 0;
  overflow-x: hidden;
}

/* scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* glass UI */
.glass {
  background: rgba(17, 24, 39, 0.6);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.glow-purple {
  box-shadow: 0 0 40px rgba(139, 92, 246, 0.1);
}
